.bundle/
# Ignore RubyMine editor files
.idea/
config/config.rb
config/appliance.rb
config/config_*.rb
config/*.p12
config/*.json
data/
projectFilesBackup/
.ruby-version
repo*
*.turtle
*.swp
.DS_Store
tmp

vendor/bundle/*

# Code coverage reports
coverage*

# Ignore eclipse .project
.project
.pmd
.settings/

logs/
*.log
*.pid

# Ignore jEnv files
.java-version

processed_files/

queries.txt

graph_comparison.csv
