# Ignore RubyMine editor files
.idea/
config/config.rb
config/config_*.rb
config/*.p12
config/*.json
projectFilesBackup/
.ruby-version
repo*
*.turtle
*.swp
.DS_Store
tmp

# Code coverage reports
coverage*

# Ignore eclipse .project
.project
.pmd
.settings/

logs/
*.log
*.pid

# Ignore jEnv files
.java-version
