x-app: &app
  image: agroportal/ontologies_api:development
  environment: &env
    # default bundle config resolves to /usr/local/bundle/config inside of the container
    # we are setting it to local app directory if we need to use 'bundle config local'
    BUNDLE_APP_CONFIG: /srv/ontoportal/ontologies_api/.bundle
    BUNDLE_PATH: /srv/ontoportal/bundle
    COVERAGE: 'true' # enable simplecov code coverage
    REDIS_HOST: redis-ut
    REDIS_PORT: 6379
    REDIS_GOO_CACHE_HOST: redis-ut
    REDIS_HTTP_CACHE_HOST: redis-ut
    REDIS_PERSISTENT_HOST: redis-ut
    SOLR_TERM_SEARCH_URL: http://solr-ut:8983/solr
    SOLR_PROP_SEARCH_URL: http://solr-ut:8983/solr
  stdin_open: true
  tty: true
  command: /bin/bash
  volumes:
    # bundle volume for hosting gems installed by bundle; it speeds up gem install in local development
    - bundle:/srv/ontoportal/bundle
    - .:/srv/ontoportal/ontologies_api
    # mount directory containing development version of the gems if you need to use 'bundle config local'
    #- /Users/alexskr/ontoportal:/Users/alexskr/ontoportal
  depends_on: &depends_on
    solr-prop-ut:
      condition: service_healthy
    solr-term-ut:
      condition: service_healthy
    redis-ut:
      condition: service_healthy

services:
  api:
    <<: *app
    env_file:
      .env
    environment:
      <<: *env
      GOO_BACKEND_NAME: virtuoso
      GOO_PORT: 8890
      GOO_HOST: virtuoso-ut
      GOO_PATH_DATA: /sparql/
      GOO_PATH_QUERY: /sparql/
      GOO_PATH_UPDATE: /sparql/
    profiles:
      - vo
    depends_on:
      - solr-ut
      - redis-ut
      - mgrep-ut
      - virtuoso-ut
    ports:
      - "9393:9393"

  mgrep-ut:
    image: ontoportal/mgrep-ncbo:0.1
    ports:
      - "55556:55555"

  redis-ut:
    image: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]
    healthcheck:
      test: redis-cli ping
      interval: 10s
      timeout: 3s
      retries: 10

  4store-ut:
    image: bde2020/4store
    volumes:
      - 4store:/var/lib/4store
    command: >
      bash -c "if [ ! -d '/var/lib/4store/ontoportal_kb' ]; then 4s-backend-setup --segments 4 ontoportal_kb; fi ; 4s-backend ontoportal_kb ; 4s-httpd -D -s-1 -p 9000 ontoportal_kb"

    ports:
      - "9000:9000"
    profiles:
      - fs
      - 4store

  solr-ut:
    image: solr:8
    ports:
      - 8983:8983
    command: bin/solr start -cloud -f
    # volumes:
    #- solr_data:/var/solr/data
  agraph-ut:
    image: franzinc/agraph:v8.3.0
    environment:
      - AGRAPH_SUPER_USER=test
      - AGRAPH_SUPER_PASSWORD=xyzzy
    shm_size: 1g
    ports:
      #      - 10035:10035
      - 10000-10035:10000-10035
    volumes:
      - agdata:/agraph/data
      #      - ./agraph/etc:/agraph/etc
    command: >
      bash -c "/agraph/bin/agraph-control --config /agraph/etc/agraph.cfg start
      ; agtool repos create ontoportal_test --supersede
      ; agtool users add anonymous
      ; agtool users grant anonymous root:ontoportal_test:rw
      ; tail -f /agraph/data/agraph.log"
    # healthcheck:
    #   test: ["CMD-SHELL", "curl -sf http://127.0.0.1:10035/repositories/ontoportal_test/status | grep -iqE '(^running|^lingering)' || exit 1"]
    #   start_period: 10s
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5
    networks:
      - app
    profiles:
      - ag

  virtuoso-ut:
    image: openlink/virtuoso-opensource-7:7.2.15
    environment:
      - DBA_PASSWORD= dba
      - DAV_PASSWORD= dba
      - VIRT_Parameters_NumberOfBuffers=680000
      - VIRT_Parameters_MaxDirtyBuffers=500000
      - VIRT_Parameters_NumOfThreads=100
      - VIRT_Parameters_MaxMem=20000000000
      - VIRT_Parameters_LogEnable=2
      - VIRT_SPARQL_ResultSetMaxRows=1000000000000
      - VIRT_SPARQL_MaxQueryExecutionTime=6000
      - VIRT_SPARQL_MaxQueryCostEstimationTime=6000
    profiles:
      - vo
    ports:
      - "1111:1111"  # Standard Virtuoso port
      - "8890:8890"  # HTTP port for SPARQL endpoint
    volumes:
      - ./test/data/initdb.d:/opt/virtuoso-opensource/initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "curl -sf http://localhost:8890/sparql || exit 1" ]
      start_period: 10s
      interval: 60s
      timeout: 5s
      retries: 3

  graphdb-ut:
    image: ontotext/graphdb:10.3.3
    platform: linux/amd64
    privileged: true
    environment:
      GDB_HEAP_SIZE: 5G
      GDB_JAVA_OPTS: >-
        -Xms5g -Xmx5g
    ports:
      - 7200:7200
      - 7300:7300
    volumes:
      - ./test/data/graphdb-repo-config.ttl:/opt/graphdb/dist/configs/templates/graphdb.ttl
      - ./test/data/graphdb-test-load.nt:/opt/graphdb/dist/configs/templates/data/graphdb-test-load.nt
    entrypoint: >
      bash -c " importrdf load -f -c /opt/graphdb/dist/configs/templates/graphdb.ttl -m parallel /opt/graphdb/dist/configs/templates/data/graphdb-test-load.nt ; graphdb "
    profiles:
      - gb

volumes:
  bundle:
  agdata:
  4store:
  #solr_data:
networks:
  app:
    driver: bridge
