# This file is designed to be used for unit testing with docker-compose

GOO_BACKEND_NAME      = ENV.include?("GOO_BACKEND_NAME")      ? ENV["GOO_BACKEND_NAME"]      : "4store"
GOO_HOST              = ENV.include?("GOO_HOST")              ? ENV["GOO_HOST"]              : "localhost"
GOO_PATH_DATA         = ENV.include?("GOO_PATH_DATA")         ? ENV["GOO_PATH_DATA"]         : "/data/"
GOO_PATH_QUERY        = ENV.include?("GOO_PATH_QUERY")        ? ENV["GOO_PATH_QUERY"]        : "/sparql/"
GOO_PATH_UPDATE       = ENV.include?("GOO_PATH_UPDATE")       ? ENV["GOO_PATH_UPDATE"]       : "/update/"
GOO_PORT              = ENV.include?("GOO_PORT")              ? ENV["GOO_PORT"]              : 9000
MGREP_HOST            = ENV.include?("MGREP_HOST")            ? ENV["MGREP_HOST"]            : "localhost"
MGREP_PORT            = ENV.include?("MGREP_PORT")            ? ENV["MGREP_PORT"]            : 55556
MGREP_DICT_PATH       = ENV.include?("MGREP_DICT_PATH")       ? ENV["MGREP_DICT_PATH"]       : "./test/data/dictionary.txt"
REDIS_GOO_CACHE_HOST  = ENV.include?("REDIS_GOO_CACHE_HOST")  ? ENV["REDIS_GOO_CACHE_HOST"]  : "localhost"
REDIS_HTTP_CACHE_HOST = ENV.include?("REDIS_HTTP_CACHE_HOST") ? ENV["REDIS_HTTP_CACHE_HOST"] : "localhost"
REDIS_PERSISTENT_HOST = ENV.include?("REDIS_PERSISTENT_HOST") ? ENV["REDIS_PERSISTENT_HOST"] : "localhost"
REDIS_PORT            = ENV.include?("REDIS_PORT")            ? ENV["REDIS_PORT"]            : 6379
REPORT_PATH           = ENV.include?("REPORT_PATH")           ? ENV["REPORT_PATH"]           : "./test/tmp/ontologies_report.json"
REPOSITORY_FOLDER     = ENV.include?("REPOSITORY_FOLDER")     ? ENV["REPOSITORY_FOLDER"]     : "./test/data/ontology_files/repo"
REST_URL_PREFIX       = ENV.include?("REST_URL_PREFIX")       ? ENV["REST_URL_PREFIX"]       : "http://localhost:9393"
SOLR_PROP_SEARCH_URL  = ENV.include?("SOLR_PROP_SEARCH_URL")  ? ENV["SOLR_PROP_SEARCH_URL"]  : "http://localhost:8983/solr"
SOLR_TERM_SEARCH_URL  = ENV.include?("SOLR_TERM_SEARCH_URL")  ? ENV["SOLR_TERM_SEARCH_URL"]  : "http://localhost:8983/solr"
GOO_SLICES = ENV["GOO_SLICES"] || 500

LinkedData.config do |config|
  config.goo_backend_name              = GOO_BACKEND_NAME.to_s
  config.goo_host                      = GOO_HOST.to_s
  config.goo_port                      = GOO_PORT.to_i
  config.goo_path_query                = GOO_PATH_QUERY.to_s
  config.goo_path_data                 = GOO_PATH_DATA.to_s
  config.goo_path_update               = GOO_PATH_UPDATE.to_s
  config.goo_redis_host                = REDIS_GOO_CACHE_HOST.to_s
  config.goo_redis_port                = REDIS_PORT.to_i
  config.http_redis_host               = REDIS_HTTP_CACHE_HOST.to_s
  config.http_redis_port               = REDIS_PORT.to_i
  config.ontology_analytics_redis_host = REDIS_PERSISTENT_HOST.to_s
  config.ontology_analytics_redis_port = REDIS_PORT.to_i
  config.repository_folder             = REPOSITORY_FOLDER.to_s
  config.search_server_url             = SOLR_TERM_SEARCH_URL.to_s
  config.property_search_server_url    = SOLR_PROP_SEARCH_URL.to_s
#  config.replace_url_prefix            = false
#  config.rest_url_prefix               = REST_URL_PREFIX.to_s
   # Used to define other bioportal that can be mapped to
   # Example to map to ncbo bioportal : {"ncbo" => {"api" => "http://data.bioontology.org", "ui" => "http://bioportal.bioontology.org", "apikey" => ""}
   # Then create the mapping using the following class in JSON : "http://purl.bioontology.org/ontology/MESH/C585345": "ncbo:MESH"
   # Where "ncbo" is the namespace used as key in the interportal_hash
   config.interportal_hash   = {"ncbo" => {"api" => "http://data.bioontology.org", "ui" => "http://bioportal.bioontology.org", "apikey" => ""},
                                   "agroportal" => {"api" => "http://data.agroportal.lirmm.fr", "ui" => "http://agroportal.lirmm.fr", "apikey" => ""}}

  # Email notifications.
  config.enable_notifications    = true
  config.email_sender            = "sender@domain.com" # Default sender for emails
  config.email_override          = "test@domain.com" # By default, all email gets sent here.  Disable with email_override_disable.
  config.smtp_host               = "smtp-unencrypted.stanford.edu"
  config.smtp_user               = nil
  config.smtp_password           = nil
  config.smtp_auth_type          = :none
  config.smtp_domain             = "localhost.localhost"
end

Annotator.config do |config|
  config.mgrep_host              ||= "localhost"
  config.annotator_redis_host  = REDIS_PERSISTENT_HOST.to_s
  config.annotator_redis_port  = REDIS_PORT.to_i
  config.mgrep_host            = MGREP_HOST.to_s
  config.mgrep_port            = MGREP_PORT.to_i
  config.mgrep_dictionary_file = MGREP_DICT_PATH.to_s
end

NcboCron.config do |config|
  config.redis_host = REDIS_PERSISTENT_HOST.to_s
  config.redis_port = REDIS_PORT.to_i
  # Ontologies Report config
  config.ontology_report_path = REPORT_PATH

  # do not deaemonize in docker
  config.daemonize  = false

  config.search_index_all_url = "http://localhost:8983/solr"
  config.property_search_index_all_url = "http://localhost:8983/solr"

  # Google Analytics GA4 config
  config.analytics_path_to_key_file     = "config/your_analytics_key.json"
  config.analytics_property_id          = "123456789"

  # path to the file that will hold your Google Analytics data
  # this is in addition to storing it in Redis
  config.analytics_path_to_ga_data_file = "data/your_ga_data.json"
  config.analytics_start_date                    = '2015-01-01'
  # this is a Base64.encode64 encoded personal access token
  # you need to run Base64.decode64 on it before using it in your code
  # this is a workaround because Github does not allow storing access tokens in a repo
  config.git_repo_access_token = "YOUR GITHUB REPO PERSONAL ACCESS TOKEN, encoded using Base64"
end

Goo.use_cache = true
Goo.slice_loading_size = GOO_SLICES.to_i
